.sidebarOption {
    color: gray;
    height: 40px;
    cursor: pointer;
    transition: 200ms ease-in color;
    display: flex;
    align-items: center;
}


.sidebarOption__icons{
    padding-left: 10px;
    padding-right: 10px;
}

.sidebarOption:hover{
    color: white;
}

.sidebarOption > p{
    font-size: 16px;
    margin-top: 8px;
    margin-left: 20px;
}